<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819251759313-4jn3pjljispfe6bohra5dfaqos8l72st.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819251759313-4jn3pjljispfe6bohra5dfaqos8l72st</string>
	<key>API_KEY</key>
	<string>AIzaSyBwqSUUqoqe5c7LwBj4GG7QbQIEmYkcIcs</string>
	<key>GCM_SENDER_ID</key>
	<string>819251759313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrrobotmouse.gamevpn</string>
	<key>PROJECT_ID</key>
	<string>gamevpn-c7176</string>
	<key>STORAGE_BUCKET</key>
	<string>gamevpn-c7176.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:819251759313:ios:895fb6b144486b4e6bddf0</string>
	<key>DATABASE_URL</key>
	<string>https://gamevpn-c7176-default-rtdb.firebaseio.com</string>
</dict>
</plist>
